@charset "UTF-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	color:white;
	

}

html {
  scroll-behavior: smooth;
}
body{
	background-color: #151515;
	font-family: 'Roboto', sans-serif;
	
}
.noisy-effect-background{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(noise.gif) ;
    background-size: 100px 100px;
    opacity: .08;
	z-index: -1;
}

.cursorpoint{
	cursor:pointer!important;
}

.hover--orangeredcolor:hover{
	color:orangered;
	transition: color 1s;
}

.hover--translate:hover{
	color:orangered;
	animation: bienmat--phongto 1s forwards;
}
a{
	color:black;
	text-decoration: none;
}

@keyframes xuathien {
	0%{opacity:0}
	100%{opacity:1}
}
@keyframes bienmat {
	0%{opacity:1}
	100%{opacity:0.5}
}
@keyframes bienmat--phongto {
	0%{opacity:1;
	 transform:scale(1) translateY(0)}
	
	100%{opacity:1;
	 transform: scale(1.1) translateY(-20px);}
}

#btntop{
	position:fixed;
	right:100px;
	bottom:80px;
	padding:20px;
	text-align: center;	
	padding:10px;
	background-color:black;
	border-radius: 04px;
	filter: drop-shadow(1px 1px 0px orangered);
	z-index: 1000;
}
#btntop:hover{
	transform:scale(1.4);
	transition:transform 2s;
	
}
#btntop i {
	width:20px;
	color:orangered;
	 
}

/**********CONTENT1************/

.content1{
	height:100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	/*background-image:url(https://i.pinimg.com/originals/69/42/86/69428697bde97422aa5b22d733db0810.gif);
	background-position: center;
	background-size:contain;*/
}
.content1__navbar1{
	height:200px;
	width:100%;
	position:fixed;
	z-index: 10000000;
}
.paddingnoidunglai{
	padding:60px 120px;
	
}
.content1__navbar1--nav{
	display: flex;
	justify-content:flex-start;
	align-items:center;
	
	background-color:none;
	
	
	
}



.logo{width:38px;
	height:38px;
	
	}

.nav--1{
	width:10%;
}
.nav--2{
	width:60%;
}
.nav--3{
	width:30%;
	text-align: right;
	color:white;
}

.navbar1__ul--li{
	display:inline;
	padding:0 0 0 100px;
}
.navbar1__ul--li a{
	color:white;
}
.navbar1__ul--li:hover{
	text-decoration: line-through;
	animation: xuathien 2s;
}

.content1__introwork{
	height:100vh;
	position: relative;
}

.content1__introwork--4dong{
	position:absolute;
	top:150px;
	left:60%;
	font-size:15.7px;
	
	letter-spacing:-0.2355px;
	line-height:16.485px;
}
.content1__introwork--4dong h4{
	font-weight:400;
}
.content1__introwork--caugioithieu{
	position:absolute;
	bottom:30vh;
	left:60%;
	font-size:15.7px;
	font-weight: 300;
}
.content1__introwork--caugioithieu h4{
	margin-bottom: 35px;
	font-weight: 400;
	letter-spacing:-0.2355px;
}
.content1__introwork--caugioithieu hr{
	width:120%
}
.content1__introwork--mainintro{
	position:absolute;
	top:26vh;
	left:18%;
	font-size:5vw;
	line-height:200px;
	
	
}

/**********CONTENT2************/
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-9-13 0:28:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.content2grid{
	display:grid;
	grid-template-columns: 25% 35% 35%;
	grid-column-gap: 2.5%;
	
	
	
}
.content2grid img{
	width:100%;
	padding:30px 0;
	
}
.divchoptraiphai{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.content2innergriddaphanchia hr{
	border:none;
	background-color:rgba(255,255,255,1.00);
	color:white;
	padding:0.5px;
	margin-bottom: 15vh;
}
.content2innergriddaphanchia h2{
	font-size:33px;
	font-weight:500;
	letter-spacing:-0.2355px;
	line-height:23.55px;
}
.content2innergriddaphanchia p{
	font-size:15.7px;
	font-weight:300;
	letter-spacing:-0.314px;
	line-height:23.55px;
}
.rolate45{
	transform: rotateZ(-45deg);
}
.rolate135{
	transform: rotateZ(-135deg);
}
.rolate225{
	transform: rotateZ(-225deg);
}

.circlesuydien{
	
	width:250px;
	height:250px;
	border-radius:50%;
	border: 1px solid white;
	background-color:transparent;
	margin:auto;
	position:relative;
	z-index: 10;
	visibility: visible;
	
}
.circlesuydien h2{
	position: absolute;
	top:80px;
	left:85px;
	font-size:90px;
	
}


.circlesuydien:hover{
	visibility: hidden;
	
}

.circlesuydien-sub{
	display:block;
	position: absolute;
	background-color: white;
	height:250px;
	width:250px;
	border-radius:50%;
	visibility: hidden;
	
}
.circlesuydien-sub p{
	position: absolute;
	top:110px;
	left:60px;
	font-size:16px;
	color:black;
	
}

.circlesuydien:hover .circlesuydien-sub{
	visibility: visible;
	
	
}

.bocthemmotkhoang{
	margin:100px 0;
}

.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-9-13 0:37:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-100px) translateY(100px);
            transform: translateZ(-100px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-100px) translateY(100px);
            transform: translateZ(-100px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.content2innergriddaphanchia:hover .hieuungfontchu{
	-webkit-animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.hieuungphongto:hover{
	transform: scale(1.05);
	animation: morebrightness 1s linear forwards;
	transition: transform 1s ;
}
@keyframes morebrightness{
	from{filter:brightness(1);}
	to{filter:brightness(1.2);}
}

.content2grid-so3{
	margin-top:150px;
}
.content2grid--under{
	margin:30px 0;
}
.content2grid--under--circle{
	height:400px;
	width:400px;
	position:relative;
	border-radius: 50%;
	background:transparent;
	border:0.5px solid #4b4b4b;
	left:32%;
	
	
}
.content2grid--under--circle p{
	position: absolute;
	top:190px;
	left:60px;
	line-height: 30px;
	letter-spacing: 0.1px;
	color:#4b4b4b
	
}
/*************content3**************/
.content3{
	display:block;
	height:100vh;
}
.baoquanhhrtext{
	padding-top:10%;
	width:30%;
	float:right;
	right:0%;
	z-index: 100;
	
}
.baoquanhhrtext p,hr{
	color:black;
}
.baoquanhhrtext p{
	font-size: 2em;
	padding-top:10px;
	
}
.content3__section {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: #efefef;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
	
}
.content3__section span{
	color:#F55757;
}

.wrapper {
  height: 100%;
  width: 50%;
  background:#efefef;
  overflow: hidden;
  color: #eaffae;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid #262626;
}

.sliding {
  position: absolute;
  top: 70%;
  white-space: nowrap;
  font-size: 12rem;
  line-height: 220px;
  overflow: hidden;
  font-family: "arial black";
  animation: animate 20s linear infinite;
	
}

@keyframes animate {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.content4{
	position:relative;
}

/*************content4**************/
.content4{
	height:100vh;
	weight:100vw;
	
}
.content4__bentrai{
	float:left;
	width:25%;
	text-align:right;
	
	
}
.content4__bentrai h3{
	padding-top:120px;
	margin-right:30px;
}
.content4__benphai{
	float:right;
	width:75%;
	margin-top:100px;
}
.content4__benphai--o1{
	padding:0px 0px 90px;
	border-bottom: 1px solid white;
	margin: 0 0 70px;
}
.content4__benphai--o1 h1{
	font-size:124.1px;
	letter-spacing:-1.8615px;
	line-height:124.1px;
}
.content4__benphai--o1 .fa-arrow-right{
	color:transparent;
	
	
}
.content4__benphai--o2{
	display:grid;
	grid-template-columns: auto auto auto;
	padding:0px 0px 90px;
	border-bottom: 1px solid white;
	margin: 0 0 70px;
	
}
.content4__benphai--o2 h3{
	font-size:27.1px;
	font-weight:300;
	letter-spacing:-0.2355px;
	line-height:28.455px;
	margin:0px 0px -5.42px;
	padding:0px 0px 5.42px;
}
.benphai--o21{
	
}

.benphai--o23 h3{
	text-decoration: underline;
	
}

.text-pop-up-br {
	        animation: text-pop-up-br 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes text-pop-up-br {
  0% {
    
            transform: translateY(0) translateX(0);
 
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
  
            transform: translateY(20px) translateX(20px);

            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}









